@import 'default';
@import 'centerize_content';
body{
    @include centerize;
    background-color: rgb(32, 32, 32);
    .pot{
        width: 200px;
        height: 200px;
        background-color: transparent;
        border: 2px solid blueviolet;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        &::after{
            content:  "";
            width: 200%;
            height: 200%;
            border-radius: 40%;
            position: absolute;
            background-color: blueviolet;
            transform: rotate(-45deg);
            top: 40%;
            left: -50%;
           
            animation: flow 1s linear infinite forwards;
            animation-delay: 0.5s;
        }
    }
    @keyframes flow {
        0%{
            transform: rotate(-45deg);
        }
        100%{
            transform: rotate(45deg);
        }
    }
}